
<%= render "layouts/header" %>

  <body>

<%= render "layouts/navbarlanding" %>
 
	<div id="header">
	 
	</div>

  	<div id="container">
    <%= yield %>
	</div>
<%= render "layouts/footer" %>
  </body>
</html>
