

<h1>Clients</h1>
<p>
	<strong>Number of Clients:</strong>
	<%= @clients.size.to_i %>
</p>

<p>
  <ol>
	<% @clients.each do |client| %>
    <div class="record employee-list">
      <li>
      	<%= link_to client_full_name(client), client %>
      </li>
	</div>    
    <% end %>
  </ol>
<p>
	<%= link_to("Create New Client", new_client_path) %>
</p>
