<!-- Creating a new one on the form doesn't work - completely unsure why, but you can create a client in the console just fine. -->

<h1>Add a New Client</h1>

  <%= render 'form' %>
    <p class="content-bubble">
      <%= link_to("Cancel New Client", clients_path) %>
    </p>
    </

<!-- to be deleted -->
<p>
	<strong>Notes:</strong>
Creating a new one on the form doesn't work - completely unsure why, but you can create a client in the console just fine.
</p>