
  <p>
  	<%= link_to 'Edit Client', edit_client_path(@client), class: 'button' %> | 
    <%= link_to 'Delete', @client, 
      class: 'button',
        method: :delete, data: { confirm: 'Are you sure?' } %>    
  </p>
  <p>
    <%= link_to("Back to Client List", clients_path) %> | 
  </p>
  