<article> 
<div class="employees-heading">
	<p>
	  EMPLOYEES
	</p>
</div>

<div class="employees-size">
	<p class="employees-size-text">
		
		<%= @employees.size %>

	</p>
</div>
<div class="best-salesperson-block">
	Top Salesperson:
	<p class="best-salesperson"> POE DAMERON</p>
	<%= image_tag("ribbon.png", :alt => "Best Salesperson Award", :height => "7.75%", :width => "7.75%") %>
</div>
<div class="best-salesperson-quick-stats">
	<p> Quick </p>
	<p> Stats </p>
	<p> Go Here</p>
</div>
<div style="clear:both;">

<div class="employees-footing"> </div>

<br />
<p>
	By default, employees are listed by sales team names. To switch and view employees alphabetized by last name, <a href="#">click here</a>.
</p>
<br />

<div class="employees-heading"> Black Squadron </div>
<br />

<% @employees.each do |employee| %>
	<div class="record employee-list">
        <span class="glyphicon glyphicon-user"></span> <%= link_to employee_last_name_first(employee), employee %></li>
    </div>
<% end %>

<p><i>List employees in teams? Black Squadron, Rebellion, First Order, Ren?
	</i></p>
</article> 