	
  	<div class="topnav" id="myTopnav">
  		<a id="nav_home" href="../">Home</a>
      	<a id="nav_vehicles" href="/vehicles">Vehicles</a>
  		<a href="#contact">Contact</a>
  		<a href="#about">About</a>
  		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>
