// body - general colors
$body-text-color: #231C16;
$body-heading-color: #000;
$body-background-color: #E7E9E6;

// nav
$nav-bg-color: #000;
$nav-text-color: #fff;

// link color
$planet-crait-red: #800F0B;

// div record background
$div-rec-bg-color: #D5D9D3;
