<aside id="sidebar">
  <nav>
    <ul>
      <li>
      	this
      </li>
      <li>
      	is
      </li>
      <li>
      	a
      </li>
      <li>
      	nav
      </li>
    </ul>
    <p>
  Cupcake ipsum dolor sit amet marzipan sesame snaps. Jelly beans cupcake marshmallow powder muffin marzipan apple pie. Carrot cake apple pie bonbon pie danish liquorice chocolate bar marshmallow lollipop. Sesame snaps ice cream croissant carrot cake oat cake sugar plum ice cream candy gummi bears. Ice cream donut caramels sweet sweet jelly-o cookie lollipop. Brownie bear claw sweet. Chupa chups halvah brownie liquorice icing sweet.
</p>
  </nav>
</aside>