<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'My Dashboard', root_path, class: 'button-side' %>
      </li>
      <li>
        <%= link_to 'View Employees', employees_path, class: 'button-side' %>
      </li>
      <li>
        <%= link_to 'View Clients', clients_path, class: 'button-side' %>
      </li>
    </ul>

  </nav>
</aside>