<h1>Employees</h1>
<p>
	<strong>Number of Employees:</strong>
	<%= @employees.size %>
</p>

<p>
	<ol>
	<% @employees.each do |employee| %>
 <li><%= link_to employee_last_name_first(employee), employee %></li>
   
<% end %>
</ol>

<p>
	<%= link_to("Create New Employee", new_employee_path) %>
</p>

<p>
	<%= link_to("Back to Dashboard", root_path) %>
</p>