// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.employees-size {
	background-color: $div-rec-bg-color;
	color: $planet-crait-red;
	text-align: center;
	display: block;
	width: 18%;
	float: left;
	padding: 10px;
}

.employees-size-text {
	font-size: 7.55em;
	font-weight: bold;
}

.best-salesperson {
	font-size: 2em;
	font-weight: bold;
}

.best-salesperson-block {
    font-size: 1.35em;
	font-variant: all-caps;
	display: block;
	width: 60%;
	text-align: center;
	vertical-align: middle;
	float: left;
}

.best-salesperson-quick-stats {	
	background-color: $div-rec-bg-color;
	font-size: 1.51em;
	font-variant: all-caps;
	text-align: center;
	display: block;
	width: 18%;
	float: left;
	padding: 10px;
}

.employees-heading {
	background-color: $vader;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: $stormtrooper;
	padding: 1%;
}

.employees-footing {
	background-color: $vader;
	font-size: 2em;
	text-align: center;
	color: $stormtrooper;
	padding: 2%;
}

.employee-list {
	font-size: 1.5em;

	a:link, a:active, a:visited {
		color: $planet-crait-red;
		font-weight: bold;
	    text-decoration: none;
	}

	a:hover {
		color: $vader;
	}
}