
<h1>Customers</h1>
		<% @customers.each do |customer| %>
	<div class="record employee-list">
        <span class="glyphicon glyphicon-user"></span> <%= link_to customer_last_name_first(customer), customer %>
    </div>
<% end %>

