@import "colors";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  background-color: #000;
}



h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}


header#page-header {
  background-color: $secondary-background-color;

  h1 a {
    height: 0px;
    display: block;
    font-family: "Esteban", sans-serif;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
  }

  a.button {
    margin-left: 10px;
    border-color: $subdued-color;
    &:hover {
      background-color: #000;
      color: #fff;
      border-color: #000;
      text-decoration: none;
    }
  }

  div#masthead {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-shadow: #000 0 0 2px;

    h1 {
      margin: 0;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    nav {
      margin: 0;
      position: absolute;
      color: $subdued-color;
      top: 0;
      right: 0;
      a {
        color: $secondary-link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


footer#page-footer {
  background-color: #000;
  color: #fff;
  padding: 25px;
  display: block;

  p {
    text-align: center;
    margin-bottom: 10px;
  }

  a {
    color: $primary-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

div#wrapper {
  background-color: #CFCFCF;
  padding: 50px 50px 50px 50px;
  padding-bottom: 100px;
  overflow: hidden;


  div#container {
    width: 100%;
    margin: 0 auto;
  }

  section#content {
    margin: 0 auto;
    margin-left: 50px;
    width: 60%;
    padding: 20px;
    z-index: 2;
    float: left;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(1, 1, 1, 0.35);
  }
}




aside#sidebar {
  width: 20%;
  float: left;
  text-align: center;
  z-index: 2;

  h1 {
    color: $secondary-text-color;
    text-transform: uppercase;
  }

  h3 {
    font-size: 110%;
    border-bottom: 1px solid $subdued-color;
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        width: 70%;
      
        a {
          margin: 0 auto;
          margin-bottom: 10px;
          padding: 10px;
          display: block;
          width: 100%;
          background: rgba(255, 255, 255, 0.15);
          border-radius: 3px;
          box-shadow: 0 1px 5px rgba(1, 1, 1, 0.25);        
        }

        a:hover {
          color: #fff;
          background: rgba(0, 0, 0, 0.85);
          border-radius: 3px;
          box-shadow: 0 1px 5px rgba(1, 1, 1, 0.25);
        }

        a.active {
          background-color: $subdued-color;
          color: #000;
        }
      }
    }
  }
}
